<div class="max-w-7xl mx-auto">
    <div class="p-4 flex">
        <a [routerLink]="['/']">
            <img src="assets/logo.png" alt="logo" class="h-8">
        </a>

        <div class="ms-auto flex items-center">
            <a [routerLink]="['/view-campain']"class="bg-indigo-400 text-white px-4 py-2 rounded mr-5 ml-5">Your Campaigns</a>
            <a [routerLink]="['/create-campain']"class="bg-indigo-400 text-white px-4 py-2 rounded mr-5 ml-5">Create Campaign</a>
        </div>
    </div>
</div>
